.flip {
  aspect-ratio: 4/5;
  text-align: center;
  perspective: 600;
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}
.flip:hover .flip-content {
  transform: rotateY(-180deg);
  transition: transform 600ms ease-in-out;
}

.flip-front,
.flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 150px;
  backface-visibility: hidden;
  color: #fff;
}
.flip-back {
  transform: rotateY(180deg);
}
